@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F3EDE4]; /* ☀️ a warm cream tone */
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.18s ease-out;
}
